/*#region Utilities*/
:root{
   --bz-bg-up: #019788;
   --bz-bg-down: #dbdbd2;
   --bz-bar-up: #eaebeb;
   --bz-icon: #b1b0b0;
   --bz-notifications-banner: #8edbfd;
   --bz-bg-search-bar: #fbfafb;
   --bz-bar-down: #f2efea;
   --bz-bar-down-icon: #6a7276;
   --bz-message-sent: #d5f8bb;
   --bz-font: 'Roboto', sans-serif;
   --bz-font-input-size: 0.6rem;
   --bz-font-secondary-size: 0.6rem;
   --bz-font-size: 0.75rem;
   --bz-secondary-text: #9b9b9b;
   --bz-bg-active-chat-list: #e6e6e6;
   --bz-bg-hover-chat-list: #f2f2f2;
}

/* #region scrollbar */
::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background: #f8f8f8; 
 }
  
 ::-webkit-scrollbar-thumb {
   background: #b8b8b8; 
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #ababab; 
 }
/* #endregion scrollbar */

main{
   width: 1170px;
   height: calc(100vh - 3rem);
}

i{
   color: var(--bz-icon);
   font-size: var(--bz-icon-size);
}

.secondary-font{
   color: var(--bz-secondary-text);
   font-size: var(--bz-font-secondary-size);
}

.font-size{
   font-size: var(--bz-font-size);
   font-weight: 500;
}

.input-bar{
   font-size: var(--bz-font-input-size);
   font-weight: 500;
}

.avatar{
   width: 2.5rem;
   border-radius: 50%;
}

.avatar.avatar-sm{
   width: 2rem;
}

.bar-up{
   background-color: var(--bz-bar-up);
   height: 3rem;
}
/*#endregion Utilities*/



/*#region Main*/
#app{
   font-family: var(--bz-font);
   background: linear-gradient(180deg, var(--bz-bg-up) 15%, var(--bz-bg-down) 15%);
   line-height: normal;

   & .left-side{
      width: 35%;
   
      & .chats-container{
         height: calc(100% - 3rem);
   
         & .notification-bg{
            background-color: var(--bz-notifications-banner);
         
            & .notification-icon-bg{
               width: 2rem;
               aspect-ratio: 1;
               border-radius: 50%;
               background-color: white;
            
               & i{
                  color: var(--bz-notifications-banner);
                  font-size: 0.85rem;
               }
            }
         }
   
         & .bg-search-bar{
            background-color: var(--bz-bg-search-bar);
         
            & i{
               font-size: 0.8rem;
            }

            & .delete-search{
               position: absolute;
               top: 50%;
               right: 0;
               transform: translate(-75%, -50%);
               z-index: 100;
            }
         }

         & #chats-list-container > div:hover{
            background-color: var(--bz-bg-hover-chat-list);
         }
      }
   }

   & .right-side{
      width: 65%;

      .current-chat-container{
         height: calc(100% - 3rem);
      
         & .current-chat-bg{
            background-image: url("/assets/img/mine.jpg");
            height: 100%;


            & .message-info{
               right: 0;
               width: 110px;
            }
         }

         & .bar-down{
            height: 3rem;
            background-color: var(--bz-bar-down);
         
            & i{
               color: var(--bz-bar-down-icon);
            }
         }
      }
   }
}
/*#endregion Main*/


/* #region Js */

.bg-chat-active-list{
   background-color: var(--bz-bg-active-chat-list);
}

.message-sent{
   background-color: var(--bz-message-sent);
}

/* #endregion Js */
